/* =================================
    GLOBAL CSS START
================================= */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Purple+Purse&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--bodyFont);
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: var(--colorBlack);
}

p,
span {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    line-height: 28px;
    color: var(--paraColor);
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    outline: none;
    resize: none;
    border: 1px solid #E4E7E9;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 300;
}

input::placeholder,
textarea::placeholder {
    color: #a6a6ac;
}

button {
    border: none;
}

:root {
    --colorPrimary: #704eeb;
    --colorSecondary: #ffbd39;
    --lightBG: #F8F6FF;
    --paraColor: #6b7280;
    --colorBlack: #010224;
    --colorWhite: #ffffff;
    --ratingColor: #FFB930;
    --bodyFont: "Poppins", sans-serif;
    --cursiveFont: "Purple Purse", serif;
}

.common_btn {
    background: var(--colorPrimary);
    color: var(--colorWhite);
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    padding: 13px 50px 13px 25px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.common_btn::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(315deg, var(--colorSecondary) 0%, var(--colorSecondary) 74%);
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.common_btn::after {
    position: absolute;
    content: "\f178";
    font-family: "font awesome 7 free";
    font-size: 16px;
    font-weight: 600;
    top: 11px;
    right: 25px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.common_btn:hover {
    background: var(--colorSecondary);
    color: var(--colorBlack);
}

.common_btn:hover:before {
    top: 0;
    height: 100%;
}

.animation_title {
    margin: 20px 0px;
    text-align: center;
}

.animation_title h2 {
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 46px;
    color: var(--colorPrimary);
    background: var(--lightBG);
    display: inline-block;
    padding: 10px 40px;
    border-radius: 50px;
}

/* cursor start */
.cursor-outer {
    margin-inline-start: -12px;
    -webkit-margin-start: -12px;
    margin-top: -12px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--colorSecondary);
    background-color: var(--colorSecondary);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 10000000;
    opacity: 0.34;
    transition: all 0.4s ease-out 0s;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
}

.cursor-outer.cursor-hover {
    opacity: 0.14;
}

.cursor-outer.cursor-big {
    opacity: 0;
}

.mouseCursor {
    position: fixed;
    top: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    bottom: 0;
    pointer-events: none;
    border-radius: 50%;
    visibility: hidden;
    text-align: center;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
}

.mouseCursor.cursor-big {
    width: 20px;
    height: 20px;
    margin-inline-start: -12px;
    -webkit-margin-start: -12px;
    margin-top: -12px;
}

.cursor-inner {
    margin-inline-start: -3px;
    -webkit-margin-start: -3px;
    margin-top: -3px;
    width: 10px;
    height: 10px;
    z-index: 10000001;
    background-color: var(--colorSecondary);
    opacity: 1;
    transition: all 0.24s ease-out 0s;
    -webkit-transition: all 0.24s ease-out 0s;
    -moz-transition: all 0.24s ease-out 0s;
    -ms-transition: all 0.24s ease-out 0s;
    -o-transition: all 0.24s ease-out 0s;
}

/* cursor end */

/* =================================
    GLOBAL CSS END
================================= */

/* menu start */
.main_menu {
    padding: 0;
    height: 80px;
    width: 100%;
    background: var(--colorWhite);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.main_menu .navbar-brand {
    margin: 0;
    padding: 0;
    width: 190px;
}

.main_menu .navbar-nav {
    gap: 0px 30px;
}

.main_menu .navbar-nav .nav-item {
    position: relative;
}

.main_menu .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    color: var(--paraColor);
    line-height: 80px;
}

.main_menu .navbar-nav .nav-item .nav-link>i {
    font-size: 12px;
}

.main_menu .navbar-nav .nav-item:hover .nav-link,
.main_menu .navbar-nav .nav-item .nav-link.active {
    color: var(--colorPrimary);
}

.main_menu .menu_right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 20px;
}

.main_menu .menu_right .nice-select {
    background: none;
    border: none;
    padding: 0;
    width: 95px;
    height: 20px;
    line-height: 20px;
}

.main_menu .menu_right li {
    position: relative;
    padding-left: 20px;
    border-right: 2px solid #dcdcdc;
    padding-right: 20px;
}

.main_menu .menu_right li:first-child::after {
    position: absolute;
    content: "";
    background: url(../images/global_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    top: 2px;
    left: 0;
}

.main_menu .menu_right li:last-child {
    margin: 0;
    padding-right: 0;
    border: none;
}

.main_menu .menu_right li:last-child .nice-select {
    width: 65px;
}

.main_menu .menu_right li .nice-select .current {
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--paraColor);
}

.main_menu .menu_right li .nice-select:after {
    border-bottom: 1px solid #353535;
    border-right: 1px solid #353535;
}

.main_menu.menu_fix {
    position: fixed;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: menu_animate 1.5s;
    -webkit-animation: menu_animate 1.5s;
}

@keyframes menu_animate {
    from {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
}

.main_menu .droap_menu {
    position: absolute;
    top: 80%;
    left: 0;
    width: 250px;
    background: var(--colorWhite);
    line-height: initial;
    padding: 12px 25px;
    opacity: 0;
    visibility: hidden;
    transition: all linear .25s;
    -webkit-transition: all linear .25s;
    -moz-transition: all linear .25s;
    -ms-transition: all linear .25s;
    -o-transition: all linear .25s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-height: 450px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 9;
    border-radius: 12px;
}

.main_menu .droap_menu::-webkit-scrollbar {
    background: var(--colorWhite);
    width: 3px;
    height: 30px;
}

.main_menu .droap_menu::-webkit-scrollbar-thumb {
    background: var(--paraColor);
}

.main_menu .droap_menu li a {
    color: var(--paraColor);
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    text-transform: capitalize;
    display: block;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    padding: 7px 0px;
    position: relative;
    border-bottom: 1px solid var(--colorWhite);
}

.main_menu .droap_menu li a::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 50%;
    background: var(--colorPrimary);
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    opacity: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-radius: 20px;
}

.main_menu .droap_menu li a:hover,
.main_menu .droap_menu li a.active {
    color: var(--colorPrimary);
}

.main_menu .droap_menu li a:hover::after,
.main_menu .droap_menu li a.active::after {
    opacity: 1;
    width: 4px;
}

.main_menu .navbar-nav .nav-item:hover .droap_menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

/* menu end */


/* banne start */
.wsus__banner {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative;
    z-index: 1;
    padding: 230px 0px 150px 0px;
}


.wsus__banner_text {
    justify-content: center;
    position: relative;
}

.wsus__banner_text h5 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}

.wsus__banner_text h1 {
    position: relative;
    font-size: 68px;
    font-weight: 600;
    margin-top: 25px;
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.wsus__banner_text p {
    max-width: 70%;
    margin-top: 30px;
}

.wsus__banner_text .common_btn {
    margin-top: 20px;
}

.wsus__banner_img .img {
    height: 550px;
    border-radius: 20px;
    overflow: hidden;
}

/* banne end */




/* text animation start */
.split_text_animi {
    opacity: 0;
}

.split_text {
    border: 1px solid #ddd;
    padding: 50px 50px;
}

.split,
.split span {
    color: var(--colorBlack);
    font-size: 38px;
    font-weight: 600;
    perspective: 500px;
}

.split span {
    color: var(--colorSecondary);
}


/*  */
.text_highlight {
    padding: 10vh 0;
}

.text_highlight h1 {
    font-size: 60px;
    color: var(--colorBlack);
}

.mask {
    width: 100%;
    height: 115%;
    position: absolute;
    background: var(--colorWhite);
    left: 0;
    top: 0;
    opacity: 0.9;
}

/* text animation end */




/* portfolio start */
.portfolio {
    background: #f7f7f7;
}

.portfolio_heading h4 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

.portfolio_heading h2 {
    text-transform: capitalize;
    font-size: 120px;
    font-weight: 600;
    margin-top: 10px;
    padding-left: 50px;
}

.portfolio_item {
    margin-right: 50px;
}

.portfolio_item .img {
    height: 630px;
    overflow: hidden;
    margin-bottom: 25px;
    border: 1px solid #ddd;
}

.portfolio_area .col-lg-6 {
    padding: 0;
}

.portfolio_area .col-lg-6:nth-child(1),
.portfolio_area .col-lg-6:nth-child(3) {
    border-right: 1px solid #ddd;
}

.portfolio_area .col-lg-6:nth-child(1),
.portfolio_area .col-lg-6:nth-child(2) {
    border-bottom: 1px solid #ddd;
}

.portfolio_area .col-lg-6:nth-child(2) .portfolio_item,
.portfolio_area .col-lg-6:nth-child(4) .portfolio_item {
    margin-right: 0;
    margin-left: 50px;
}

.portfolio_area .col-lg-6:nth-child(1),
.portfolio_area .col-lg-6:nth-child(2) {
    padding-bottom: 50px;
}

.portfolio_area .col-lg-6:nth-child(3),
.portfolio_area .col-lg-6:nth-child(4) {
    padding-top: 50px;
}

/* portfolio end */



/* horizontal scrolling start */
.horizontal_slider {
    display: flex;
    overflow-x: hidden;
}

.slider_item {
    flex-shrink: 0;
    place-items: center;
    height: 500px;
}

.slider_item .img {
    width: 100%;
    height: 100%;
    border-right: 10px solid var(--colorWhite);
}

/* horizontal scrolling end */




/* 3D image zoom start */
.image_zoom {
    position: relative;
    overflow: hidden;
}

.zoom_content {
    position: relative;
    width: 100%;
    z-index: 1;
}

.image_zoom_content_bg {
    width: 100%;
    height: 820px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.zoom_main_img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    perspective: 500px;
    overflow: hidden;
}

/* 3D image zoom end */



/* parallax content start */
.parallax .parallax_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    gap: 25px;
}

.parallax .parallax_text h2,
.parallax .parallax_text h2 span {
    font-size: 38px;
    font-weight: 600;
}

.parallax_img {
    height: 500px;
    overflow: hidden;
}

.parallax_img img {
    height: auto !important;
}

/* parallax content end */


/* single image zoom start */
.single_zoom_main_img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.single_zoom_main_img img {
    width: 1000px !important;
    height: 450px !important;
}

/* single image zoom end */















/* horizontal scroll galler start */
.horizontal_gallery_content,
.horizontal_gallery_area {
    display: flex;
    flex-wrap: nowrap;
    will-change: transform;
    position: relative;
}

.horizontal_gallery_img {
    width: 33vw;
    padding: 0px 10px;
    box-sizing: content-box;
}

.horizontal_gallery_img img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/* horizontal scroll galler end */




footer {
    background: var(--colorPrimary);
    display: flex;
    justify-content: center;
    contain: content;
    padding: 250px 0px;
}

footer h1 {
    font-size: 64px;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--colorWhite);
}





/* vertical scrolling start */
.wrapper {
    min-height: 70vh;
}

.vertical_slider_item {
    perspective: 500px;
}

.vertical_slider_cintent {
    height: 610px;
}

/* vertical scrolling end */





/* image scroll animation 01 start */
.image_scroll_effect_item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image_scroll_effect_item .img {
    width: 85%;
    height: 500px;
}

.image_scroll_effect_item .text {
    width: 25%;
    position: absolute;
    top: 50%;
    right: 0;
    background: #ffffff96;
    padding: 80px 50px;
    transform: translateY(-50%);
    backdrop-filter: blur(30px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.image_scroll_effect_item .text p {
    color: var(--colorBlack);
}

/* image scroll animation 01 end */




/* image random animation start */
.img_random_animi_area {
    display: grid;
    width: 100%;
}

.img_random_animi_area>* {
    grid-area: 1/1/2/2;
}

.random_img {
    height: 650px;
}

/* image random animation end */






/* category start */
.category_img img {
    position: absolute;
    width: auto !important;
    height: 40vh !important;
    opacity: 0;
    z-index: -1;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}

.category_list {
    height: 650px;
    display: grid;
    place-content: center;
    max-width: 70vw;
    margin: 0 auto;
}

.category_list .category_item {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
}

.category_list .category_item p {
    cursor: pointer;
    font-weight: 400;
    font-size: 42px;
    color: var(--colorSecondary);
    mix-blend-mode: color-burn;
}

/* category end */



/* crumb triggrt start */
.clump_trigger {
    background: #eee;
}

.clump_trigger h1,
.clump_trigger h1 span {
    font-size: 100px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: var(--colorSecondary);
}

.clump_trigger .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    z-index: -1;
}

.clump_trigger .images img {
    height: 700px !important;
}

.clump_trigger_heading {
    position: relative;
    z-index: 2;
    mix-blend-mode: difference;
    perspective: 1000px;
    backface-visibility: visible;
    -webkit-backface-visibility: visible;
}

.clump_trigger_heading .clamp {
    position: relative;
    z-index: -1;
}

.clump_trigger_heading .clamp svg {
    position: absolute;
    width: 112%;
    top: 50%;
    left: -6%;
    transform: translateY(-50%) rotate(2deg);
    -webkit-transform: translateY(-50%) rotate(2deg);
    -moz-transform: translateY(-50%) rotate(2deg);
    -ms-transform: translateY(-50%) rotate(2deg);
    -o-transform: translateY(-50%) rotate(2deg);
}

/* crumb triggrt end */