/* =================================
    GLOBAL CSS START
================================= */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Purple+Purse&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--bodyFont);
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: var(--colorBlack);
}

p,
span {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: var(--paraColor);
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    outline: none;
    resize: none;
    border: 1px solid #E4E7E9;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 300;
}

input::placeholder,
textarea::placeholder {
    color: #a6a6ac;
}

button {
    border: none;
}

:root {
    --colorPrimary: #704eeb;
    --colorSecondary: #ffbd39;
    --lightBG: #F8F6FF;
    --paraColor: #6b7280;
    --colorBlack: #010224;
    --colorWhite: #ffffff;
    --ratingColor: #FFB930;
    --bodyFont: "Poppins", sans-serif;
    --cursiveFont: "Purple Purse", serif;
}

.common_btn {
    background: var(--colorPrimary);
    color: var(--colorWhite);
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    padding: 13px 50px 13px 25px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.common_btn::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-image: linear-gradient(315deg, var(--colorSecondary) 0%, var(--colorSecondary) 74%);
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.common_btn::after {
    position: absolute;
    content: "\f178";
    font-family: "font awesome 7 free";
    font-size: 16px;
    font-weight: 600;
    top: 11px;
    right: 25px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.common_btn:hover {
    background: var(--colorSecondary);
    color: var(--colorBlack);
}

.common_btn:hover:before {
    top: 0;
    height: 100%;
}

.animation_title {
    margin: 20px 0px;
    text-align: center;
}

.animation_title h2 {
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 46px;
    color: var(--colorPrimary);
    background: var(--lightBG);
    display: inline-block;
    padding: 10px 40px;
    border-radius: 50px;
}

/* =================================
    GLOBAL CSS END
================================= */
/* menu start */
.main_menu {
    padding: 0;
    height: 80px;
    width: 100%;
    background: var(--colorWhite);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.main_menu .navbar-brand {
    margin: 0;
    padding: 0;
    width: 190px;
}

.main_menu .navbar-nav {
    gap: 0px 30px;
}

.main_menu .navbar-nav .nav-item {
    position: relative;
}

.main_menu .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    color: var(--paraColor);
    line-height: 80px;
}

.main_menu .navbar-nav .nav-item .nav-link>i {
    font-size: 12px;
}

.main_menu .navbar-nav .nav-item:hover .nav-link,
.main_menu .navbar-nav .nav-item .nav-link.active {
    color: var(--colorPrimary);
}

.main_menu .menu_right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 20px;
}

.main_menu .menu_right .nice-select {
    background: none;
    border: none;
    padding: 0;
    width: 95px;
    height: 20px;
    line-height: 20px;
}

.main_menu .menu_right li {
    position: relative;
    padding-left: 20px;
    border-right: 2px solid #dcdcdc;
    padding-right: 20px;
}

.main_menu .menu_right li:first-child::after {
    position: absolute;
    content: "";
    background: url(../images/global_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    top: 2px;
    left: 0;
}

.main_menu .menu_right li:last-child {
    margin: 0;
    padding-right: 0;
    border: none;
}

.main_menu .menu_right li:last-child .nice-select {
    width: 65px;
}

.main_menu .menu_right li .nice-select .current {
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--paraColor);
}

.main_menu .menu_right li .nice-select:after {
    border-bottom: 1px solid #353535;
    border-right: 1px solid #353535;
}

.main_menu.menu_fix {
    position: fixed;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: menu_animate 1.5s;
    -webkit-animation: menu_animate 1.5s;
}

@keyframes menu_animate {
    from {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
}

.main_menu .droap_menu {
    position: absolute;
    top: 80%;
    left: 0;
    width: 250px;
    background: var(--colorWhite);
    line-height: initial;
    padding: 12px 25px;
    opacity: 0;
    visibility: hidden;
    transition: all linear .25s;
    -webkit-transition: all linear .25s;
    -moz-transition: all linear .25s;
    -ms-transition: all linear .25s;
    -o-transition: all linear .25s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-height: 450px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 9;
    border-radius: 12px;
}

.main_menu .droap_menu::-webkit-scrollbar {
    background: var(--colorWhite);
    width: 3px;
    height: 30px;
}

.main_menu .droap_menu::-webkit-scrollbar-thumb {
    background: var(--paraColor);
}

.main_menu .droap_menu li a {
    color: var(--paraColor);
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    text-transform: capitalize;
    display: block;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    padding: 7px 0px;
    position: relative;
    border-bottom: 1px solid var(--colorWhite);
}

.main_menu .droap_menu li a::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 50%;
    background: var(--colorPrimary);
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    opacity: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-radius: 20px;
}

.main_menu .droap_menu li a:hover,
.main_menu .droap_menu li a.active {
    color: var(--colorPrimary);
}

.main_menu .droap_menu li a:hover::after,
.main_menu .droap_menu li a.active::after {
    opacity: 1;
    width: 4px;
}

.main_menu .navbar-nav .nav-item:hover .droap_menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

/* menu end */

/* banne start */
.wsus__banner {
    height: 900px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative;
    z-index: 1;
}

.wsus__banner div {
    height: 100%;
}

.wsus__banner_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 80px;
    position: relative;
}

.wsus__banner_text h5 {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}

.wsus__banner_text h1 {
    text-align: center;
    position: relative;
    font-size: 68px;
    font-weight: 600;
}

.wsus__banner_text p {
    max-width: 70%;
    text-align: center;
    margin-top: 30px;
}

.wsus__banner_text .common_btn {
    margin-top: 20px;
}

/* banne end */






/* horizontal scrolling start */
.horizontal_slider {
    display: flex;
    overflow-x: hidden;
}

.slider_item {
    flex-shrink: 0;
    place-items: center;
    height: 500px;
}

.slider_item .img {
    width: 100%;
    height: 100%;
    border-right: 10px solid var(--colorWhite);
}

/* horizontal scrolling end */


/* 3D image zoom start */
.zoom_content {
    position: relative;
    width: 100%;
    z-index: 1;
}

.image_zoom_content_bg {
    width: 100%;
    height: 820px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.zoom_main_img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    perspective: 500px;
    overflow: hidden;
}

/* 3D image zoom end */


/* single image zoom start */
.single_zoom_main_img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.single_zoom_main_img img {
    width: 1000px !important;
    height: 450px !important;
}

/* single image zoom end */



/* horizontal scroll galler start */
.horizontal_gallery_content,
.horizontal_gallery_area {
    display: flex;
    flex-wrap: nowrap;
    will-change: transform;
    position: relative;
}

.horizontal_gallery_img {
    width: 33vw;
    padding: 2rem;
    box-sizing: content-box;
}

.horizontal_gallery_img img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/* horizontal scroll galler end */



/* vertical scrolling start */
.vertical_slider_content {
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

/* vertical scrolling end */